version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"

    open-pull-requests-limit: 10

    groups:
      kotlin-stack:
        patterns:
          - "org.jetbrains.kotlin:*"
          - "org.jetbrains.kotlinx:*"
          - "org.jetbrains.compose:*"

      testing:
        patterns:
          - "org.junit.jupiter:*"
          - "io.mockk:*"

      tooling:
        patterns:
          - "org.jlleitschuh.gradle.ktlint"
