name: Gradle Checks

on:
  workflow_call:
    inputs:
      job-name:
        required: true
        type: string
      task:
        required: true
        type: string
      publish:
        required: false
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: false

jobs:
  gradle-task:
    name: Gradle | ${{ inputs.job-name }}
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-gradle

      - name: Compute version
        if: inputs.publish
        shell: bash
        run: |
          MAJOR=$(grep '^major=' version.properties | cut -d'=' -f2)
          MINOR=$(grep '^minor=' version.properties | cut -d'=' -f2)

          VERSION=${MAJOR}.${MINOR}.${GITHUB_RUN_NUMBER}-SNAPSHOT
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Run engine:${{ inputs.task }}
        shell: bash
        run: |
          TASKS=":engine:${{ inputs.task }}"

          if [[ "${{ inputs.task }}" == *"test"* ]]; then
            TASKS=":engine:cleanTest $TASKS"
          fi

          if [[ "${{ inputs.publish }}" == "true" ]]; then
            VERSION_ARG="-PversionName=${VERSION}"
          else
            VERSION_ARG=""
          fi

          echo "Executing: ./gradlew $TASKS $VERSION_ARG --build-cache --configuration-cache"
          ./gradlew $TASKS $VERSION_ARG --build-cache --configuration-cache

      - name: Upload Coverage
        if: contains(inputs.task, 'jacocoTestReport')
        uses: codecov/codecov-action@v4
        with:
          files: engine/build/reports/jacoco/test/jacocoTestReport.xml
          flags: engine
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
