name: Gradle Checks

on:
  workflow_call:
    inputs:
      job-name:
        required: true
        type: string
      task:
        required: true
        type: string
    secrets:
      CODECOV_TOKEN:
        required: false
      OSSRH_USERNAME:
        required: false
      OSSRH_PASSWORD:
        required: false

jobs:
  gradle-task:
    name: Gradle | ${{ inputs.job-name }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-gradle

      - name: Run engine:${{ inputs.task }}
        shell: bash
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: ./.github/scripts/run-gradle.sh "${{ inputs.task }}"

      - name: Upload Coverage
        if: contains(inputs.task, 'jacocoTestReport')
        uses: codecov/codecov-action@v5
        with:
          files: engine/build/reports/jacoco/test/jacocoTestReport.xml
          flags: engine
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
