name: Gradle Checks

on:
  workflow_call:
    inputs:
      job-name:
        required: true
        type: string
      task:
        required: true
        type: string
      publish:
        required: false
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: false

jobs:
  gradle-task:
    name: Gradle | ${{ inputs.job-name }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-gradle

      - name: Compute version
        if: inputs.publish
        shell: bash
        run: |
          MAJOR=$(grep '^major=' version.properties | cut -d'=' -f2)
          MINOR=$(grep '^minor=' version.properties | cut -d'=' -f2)
          PATCH=$(git rev-list --count HEAD -- engine/)

          VERSION="${MAJOR}.${MINOR}.${PATCH}-SNAPSHOT"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Computed Version: $VERSION"

      - name: Run engine:${{ inputs.task }}
        shell: bash
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./.github/scripts/run-gradle.sh "${{ inputs.task }}" "${{ inputs.publish }}" "${{ env.VERSION }}"

      - name: Upload Coverage
        if: contains(inputs.task, 'jacocoTestReport')
        uses: codecov/codecov-action@v5
        with:
          files: engine/build/reports/jacoco/test/jacocoTestReport.xml
          flags: engine
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
