name: Main Checks

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - '.github/dependabot.yml'
      - '.github/workflows/dependabot-auto-merge.yml'
      - '.gitignore'
      - 'LICENSE'

jobs:
  build:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Assemble Engine"
      task: "assemble"

  lint:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Lint Engine"
      task: "ktlintCheck"

  test:
    needs: build
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      pull-requests: write
    with:
      job-name: "Test & Coverage Engine"
      task: "test jacocoTestReport"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish:
    needs: test
    if: |
      github.event_name == 'push' && 
      (contains(github.event.head_commit.modified, 'engine/') || 
       contains(github.event.head_commit.modified, 'build.gradle.kts'))
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      packages: write
    with:
      job-name: "Publish Engine SNAPSHOT"
      task: "publishEnginePublicationToSonatypeRepository"
      publish: true
