name: Main Checks

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build Engine
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Assemble Engine"
      task: "assemble"

  lint:
    name: Lint Engine
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Lint Engine"
      task: "ktlintCheck"

  test:
    name: Test Engine
    needs: build
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      pull-requests: write
    with:
      job-name: "Test & Coverage Engine"
      task: "test :engine:jacocoTestReport"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish:
    name: Publish Engine
    needs: test
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      packages: write
    with:
      job-name: "Publish Engine SNAPSHOT"
      task: "publish"
      publish: true
