name: Main Checks

on:
  push:
    branches: [main]
    paths:
      - 'engine/**'
      - 'gradle.properties'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'

jobs:
  build:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Assemble Engine"
      task: "assemble"

  lint:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Lint Engine"
      task: "ktlintCheck"

  test:
    needs: build
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      pull-requests: write
    with:
      job-name: "Test & Coverage Engine"
      task: "test jacocoTestReport"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish:
    needs: test
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
    with:
      job-name: "Publish Engine SNAPSHOT"
      task: "publishEnginePublicationToSonatypeRepository"
