name: Main Checks

on:
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: write
  packages: write

jobs:
  build:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Assemble Engine"
      task: "assemble"

  test:
    needs: build
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Test & Coverage Engine"
      task: "test :engine:jacocoTestReport"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish:
    needs: test
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      packages: write
    with:
      job-name: "Publish Engine SNAPSHOT"
      task: "publish"
      publish: true
