name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write
  contents: read

jobs:
  semantic-pr:
    name: Semantic Commit Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            test
            chore
          requireScope: false

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: semantic-pr
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-gradle-env
      - run: ./gradlew :engine:assemble --build-cache --configuration-cache

  test:
    name: Test + Coverage
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-gradle-env
      - run: ./gradlew :engine:cleanTest :engine:test :engine:jacocoTestReport --build-cache --configuration-cache

      - uses: codecov/codecov-action@v4
        with:
          files: engine/build/reports/jacoco/test/jacocoTestReport.xml
          flags: engine
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}