name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  semantic-pr:
    name: Semantic Commit Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            test
            chore
            ci
          requireScope: false

  build:
    needs: semantic-pr
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Assemble Engine"
      task: "assemble"

  test:
    needs: build
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      pull-requests: write
    with:
      job-name: "Test & Coverage Engine"
      task: "test :engine:jacocoTestReport"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}