name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Assemble Engine"
      task: "assemble"

  lint:
    uses: ./.github/workflows/gradle-checks.yml
    with:
      job-name: "Lint Engine"
      task: "ktlintCheck"

  test:
    needs: build
    uses: ./.github/workflows/gradle-checks.yml
    permissions:
      contents: read
      pull-requests: write
    with:
      job-name: "Test & Coverage Engine"
      task: "test :engine:jacocoTestReport"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
