name: Publish Coverage

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-gradle-env

      - name: Run tests & coverage
        run: ./gradlew :engine:test :engine:jacocoTestReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: engine/build/reports/jacoco/test/jacocoTestReport.xml
